<div>
    <div style="margin: 5% 5% 0% 5%; border: 1px solid gray; border-radius: 20px">
        <h1 align="center" style="font-weight: bold;">Terminos y Condiciones</h1>
        <br/>
        <p style="margin: 3%">
            - Este formato debe diligenciarse en su totalidad de forma clara y legible por el
            aspirante.
            <br/>
            <br/>
            - La información que a continuación suministrará de forma voluntaria, será sometida a
            verificación y en caso de que esta no coincida con la realidad, se procederá a informar
            a la autoridad competente para los tramites de ley.
            <br/>
            <br/>
            - Una vez diligenciado y entregado, la información contenida en este formato estará
            amparada BAJO RESERVA LEGAL y tendrá el nivel de seguridad RESTRINGIDO.
            <br/>
            <br/>
            - La Institución le podrá exigir el cumplimiento de los perfiles profesionales y de
            seguridad necesarios para el cargo, grado y funciones a desarrollar.
            <br/>
            <br/>
            - Por ultimo autorizo a que se me efectué una visita domiciliaria con el fin de verificar su
            entorno social y familiar.
            <br/>
        </p>
    </div>

    <input style="margin: 2% 0% 0% 5%" type="checkbox"/> <label style="font-weight: 900">He leido y acpeto los terminos y condiciones.</label>
    <!--<a style="margin-left: 37%" class="btn btn-primary" routerLink="/aspirantedatos">Siguiente</a>-->
    <button id="siguiente_btn" style="margin-left: 37%" type="button" class="btn btn-success" routerLink="/aspirantedatos" >Siguiente</button>
    <!--<input id="disabled-input" type="text" size="30" pInputText [disabled]="disabled" />
    <button id="disabled-btn" type="button" (click)="toggleDisabled()" pButton label="Toggle">Aceptar</button>-->
</div>